@import 'leaflet/dist/leaflet.css';

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
    background: linear-gradient(135deg, #0F172A, #0EA5E9, #22C55E);
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0F172A, #0EA5E9, #22C55E);
    background-attachment: fixed;
}